body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.add-btn {
    text-align: center;
    float: right;
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
}
.add-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


